.klub_h2 {
	color: #F30;
	font-size: 18px;
	margin: 7px 0px 5px 0px;
}
.klub_h3 {
	color: #090;
	font-size: 15px;
	padding-left: 10px;
	font-family: Segoe, "Segoe UI SemiBold", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.klub_h4 {
	color: #047;
	font-size: 13px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
.klub_h5 {
	color: #069;
	font-size: 12px;
	padding-left: 10px;
}
.klub_input {
	padding: 2px 3px;
	border: 1px solid #CCC !important;
	border-radius: 1px !important;
}
.klub_selt {
	padding: 2px;
	font-size: 12px !important;
	width: 218px;
	border: 1px solid #CCC !important;
	border-radius: 1px !important;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
input[type="file"] {
	height: 30px;
	line-height: 30px;
}
.klub_fileinput {
	position: relative;
	overflow: hidden;
}
.klub_fileinput input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}
.cms_btn_tile {
	cursor: pointer;
	margin: 0px 4px;
	padding-left: 0px;
	float: left;
}
.cms_btn_tile div {
	margin-bottom: 4px;
	padding: 10px 7px;
	background-image: url(cdn/img/trans_8.png);
	color: #333;
	width: 130px;
	text-indent: 10px;
}
.cms_btn_tile_atv {
	margin-bottom: 4px;
	padding: 10px 7px;
	background-image: url(cdn/img/trans_5.png) !important;
	cursor: default;
	color: #FFF !important;
}
.cms_btn_tile div:hover {
	margin-bottom: 4px;
	padding: 10px 7px;
	background-image: url(cdn/img/trans_7.png);
	color: #333;
}
#kstud_det_1 .klub_h5 {
	margin: 2px 0px;
}
.klub_title td {
	background-image: url(cdn/img/trans_2.png);
}
.klub_title div {
	text-align: center;
	padding: 4px 2px;
	font-size: 13px !important;
	color: #063;
}
.klub_data div {
	background-image: url(cdn/img/trans_1.png);
	text-align: center;
	padding: 2px 2px;
	font-size: 12px !important;
	color: #777;
}
.klub_data_h2 {
	padding: 2px 2px;
	font-size: 12px !important;
	color: #777;
}
.kstud_det {
	background-image: url(cdn/img/trans_1.png);
	margin: 7px 20px;
	padding: 7px 14px;
	margin-bottom: 14px;
}
.klub_togl_main, .ktogl_sub {
	cursor: pointer;
}
.klub_sw_att:hover {
	background-image: url(cdn/img/trans_01.png) !important;
	color: #333 !important;
}
.kstud_det, .kstdet_sub_hldr {
	display: none;
}
.klub_tog_ico {
	width: 24px;
	background-repeat: no-repeat;
	height: 24px;
	margin-top: -3px;
	float: left;
	background-image: url(cdn/img/next.png);
}
.ktogl_sub {
	margin-top: 4px;
	color: #09F;
}
.ktogl_sub:hover {
	margin-top: 4px;
	color: #06F;
}
