@charset "utf-8";
/* CSS Document */


.has_input_fld
{
	padding: 2px 3px;
	border: 1px solid #CCC !important;
	border-radius: 2px !important;
}
.has_sel_fld
{
	padding: 2px;
	font-size: 12px !important;
	width: 218px;
	border: 1px solid #CCC !important;
	border-radius: 1px !important;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.has_lgn_tl
{
	float: left;
	text-align: center;
	padding: 4px 7px;
	line-height: 22px;
	font-size: 13px;
	width: 184px;
	cursor: pointer;
	background-color: darkgrey;
}
.atv
{
	border: 1px solid #999;
	border-top: 0;
	padding: 4px 7px;
	line-height: 22px;
	width: 186px;
	background-color: #F7F7F7;
}
input
{
	outline-color: #666;
}
select
{
	outline-color: #666;
}
