#button1,#button2 {
	transition: transform .2s;
	border: none;
	width: 133px;
	height: 50px;
}
#button1:hover,#button2:hover{
	transform: scale(1.1);
	background-color: #c6c6c6;
}
#button1:focus,#button2:focus{
    background-color: darkgray;
}
.button:hover{
	background-color: royalblue;
	color: white;
	cursor: pointer;
}
.input{
	height: 25px;
	border-radius: 7px;
	border-style: dotted;
	border-color: darkgray;
	font-family: 'Open Sans'
}
.has_lgn_tl
{
	float: left;
	text-align: center;
	padding: 4px 7px;
	line-height: 22px;
	font-size: 13px;
	width: 184px;
	cursor: pointer;
	background-color: darkgrey;
}
.atv
{
	border: 1px solid #999;
	border-top: 0;
	padding: 4px 7px;
	line-height: 22px;
	width: 186px;
	background-color: #F7F7F7;
}
input::placeholder
{
	color: #ADADAE;
	font-size: 0.8em;
	font-style: italic;
}